li a {
    color: #005618;
    text-decoration: underline;
}

li a:hover {
    color: #158033;
    text-decoration: underline;
}

.done li::marker {
    content: '✔ ';
}

.todo li::marker {
    content: '✖ ';
}